{% extends 'off/layouts/base.html' %}

{% block content %}

{% load static %}

<header id="header-saved">
    <div class="container">
        <h1 class="text-uppercase text-white text-center font-weight-bold" >Mentions légales</h1>
    </div>
</header> 

<section class="container mt-5 mb-5">
  <div class="row d-flex flex-column justify-content-start align-items-right">

	  <h4>Framework Python (back-end): <a href="https://www.djangoproject.com/" target="_blank">Django</a></h4>

	  <h4>Framework CSS (front-end) : <a href="https://getbootstrap.com/docs/4.6/getting-started/introduction/" target="_blank">Bootstrap</a></h4>

	  <h4>Thèmatique Bootstrap : <a href="https://blackrockdigital.github.io/startbootstrap-creative/" target="_blank">Startbootstrap-creative</a></h4>

	  <h4>Charte graphique / logo / images : <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/introduction/Notre-identit%C3%A9" target="_blank">Compagnie <q><em>Pur Beurre</em></q></a></h4>

	  <h4>Icônes : <a href="https://fontawesome.com/" target="_blank">FontAwesome</a> & <a href="https://thenounproject.com/" target="_blank">TheNounProject</a></h4>

	  <h4>Hébergeur : <a href="https://www.heroku.com/" target="_blank">Heroku</a></h4>

  </div>
</section>

{% endblock %}
