{% extends 'off/layouts/base.html' %} {% block content %} {% load static %}

<header id="header-saved">
  <div class="container">
    <h1 class="text-uppercase text-white text-center font-weight-bold">
      Changement du mot de passe
    </h1>
  </div>
</header>

{% if messages %}
    {% for message in messages %}
    <section style="height: 60%">
    <div class="d-flex flex-column justify-content-around align-items-center">
        <div id="messageSuccess" class="alert alert-success" style="text-align:center;width: 400px; margin-top:100px">
        {{ message }}
        </div>
    </div>
    </section>
    {% endfor %}

{% else %}
<div class="row d-flex flex-column justify-content-center align-items-stretch m-5">
  {% if form.errors %}
    {% for field, errors in form.errors.items %}
      {% for error in errors %}
      <div class="alert alert-warning">{{error}}</div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  <form method="post" action="{% url 'off:change-password' %}">
  {% csrf_token %}

    <div class="row d-flex flex-row justify-content-center align-items-center mt-2">
      <div class="col-5 mt-2">
        <label for="id_old_password" class="label">
          <strong>Ancien mot de passe</strong>
        </label>
      </div>
      <div class="col-7" style="width: 500px">
        <input type="text" class="form-control" name="old_password" id="id_old_password" />
      </div>
    </div>

    <div class="row d-flex flex-row justify-content-center align-items-center mt-2">
      <div class="col-5 mt-2">
        <label for="id_new_password1" class="label">
          <strong>Nouveau mot de passe</strong>
        </label>
      </div>
      <div class="col-7" style="width: 500px">
        <input
          type="password"
          class="form-control"
          name="new_password1"
          autocomplete="new-password"
          id="id_new_password1"/>
      </div>
    </div>

    <div class="row d-flex flex-row justify-content-center align-items-center mt-2">
      <div class="col-5 mt-2">
        <label for="id_new_password2" class="label">
          <strong>Confirmation du nouveau mot de passe</strong>
        </label>
      </div>
      <div class="col-7" style="width: 500px">
        <input
          type="password"
          class="form-control"
          name="new_password2"
          autocomplete="new-password"
          id="id_new_password2"/>
      </div>
    </div>

    <div class="row d-flex flex-row justify-content-end align-items-center mt-2">
      <input
        id="submitChangePassword"
        class="btn btn-primary align-self-center m-5"
        type="submit"
        value="Sauvegarder"/>
    </div>
  </form>
</div>
{% endif %}

{% endblock %}
